<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--<parameter name="courseName" value="java"></parameter>-->
<!--    <parameter name="cityName" value="pune"></parameter>-->
<!--    <parameter name="browserName" value="firefox"></parameter>-->
    <test verbose="10" preserve-order="true"  parallel="false" thread-count="2" name="C:/Users/hp/IdeaProjects/Maven_project">
        <classes>

            <class name="testng.FailedTestCases"></class>
<!--            <class name="testng.BasicsOfTestNG"></class>-->
<!--            <class name="parameterizations.withParameterization"></class>-->
<!--            <class name="parameterizations.NeedOfParameterizations"></class>-->


        </classes>
    </test>
</suite>